---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/databases/1683fad2c09380ef850dfbe8b2f57158/query
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"267bb-DAkdyy3TF7T2oWbXqJJxCxAqCr8"
      x-notion-request-id:
      - e56aa8fb-8df3-46da-8476-11a0e5dd1376
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"page","id":"1683fad2-c093-81e6-b32e-eff0f0333437","created_time":"2024-12-26T18:36:00.000Z","last_edited_time":"2024-12-26T20:29:00.000Z","created_by":{"object":"user","id":"e32d7e93-d8af-4a76-8a0d-ef8e9910cae3"},"last_edited_by":{"object":"user","id":"e32d7e93-d8af-4a76-8a0d-ef8e9910cae3"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"1683fad2-c093-80ef-850d-fbe8b2f57158"},"archived":false,"in_trash":false,"properties":{"title_short":{"id":"%3ELHh","type":"rich_text","rich_text":[{"type":"text","text":{"content":"smallMovement","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"smallMovement","href":null}]},"conference":{"id":"Fk%7BH","type":"rich_text","rich_text":[{"type":"text","text":{"content":"Symmetries
        of Discrete Objects conference","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Symmetries
        of Discrete Objects conference","href":null}]},"venue":{"id":"JHuV","type":"rich_text","rich_text":[{"type":"text","text":{"content":"University
        of Auckland","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"University
        of Auckland","href":null}]},"highlighted":{"id":"MZ~I","type":"checkbox","checkbox":true},"abstract":{"id":"QFfb","type":"rich_text","rich_text":[{"type":"text","text":{"content":"The
        motion of a graph is defined as the smallest number of vertices that are not
        fixed by a non-trivial automorphism. In the talk we will show a classification
        of the vertex transitive graphs whose motion is a prime number or a (very)small
        integer. We shall also explore how this problem connects with some classical
        permutation groups and graph theory problems.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"The
        motion of a graph is defined as the smallest number of vertices that are not
        fixed by a non-trivial automorphism. In the talk we will show a classification
        of the vertex transitive graphs whose motion is a prime number or a (very)small
        integer. We shall also explore how this problem connects with some classical
        permutation groups and graph theory problems.","href":null}]},"notes":{"id":"Ry%7C%5B","type":"rich_text","rich_text":[]},"date":{"id":"%5DU%3Ag","type":"rich_text","rich_text":[{"type":"text","text":{"content":"2024-02-13","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"2024-02-13","href":null}]},"conf_url":{"id":"_nAx","type":"url","url":"https://jschillewaert.wixsite.com/sodo2024"},"slides":{"id":"d~nV","type":"checkbox","checkbox":true},"conf_short":{"id":"hDlA","type":"rich_text","rich_text":[{"type":"text","text":{"content":"sodo2024","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"sodo2024","href":null}]},"id":{"id":"iITa","type":"formula","formula":{"type":"string","string":"2402_sodo2024_smallMovement"}},"conf_type":{"id":"kuZ%7D","type":"select","select":{"id":"q{ZC","name":"International","color":"default"}},"type":{"id":"ub%7Dp","type":"select","select":{"id":"n:\\T","name":"Contributed","color":"blue"}},"location":{"id":"zmMN","type":"rich_text","rich_text":[{"type":"text","text":{"content":"Auckland,
        New Zealand","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Auckland,
        New Zealand","href":null}]},"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Vertex
        trantisive graph with (very) small movement","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Vertex
        trantisive graph with (very) small movement","href":null}]}},"url":"https://www.notion.so/Vertex-trantisive-graph-with-very-small-movement-1683fad2c09381e6b32eeff0f0333437","public_url":"https://anteromontonio.notion.site/Vertex-trantisive-graph-with-very-small-movement-1683fad2c09381e6b32eeff0f0333437"},{"object":"page","id":"1683fad2-c093-810b-81a8-c233fb4042c2","created_time":"2024-12-26T18:36:00.000Z","last_edited_time":"2024-12-26T20:29:00.000Z","created_by":{"object":"user","id":"e32d7e93-d8af-4a76-8a0d-ef8e9910cae3"},"last_edited_by":{"object":"user","id":"e32d7e93-d8af-4a76-8a0d-ef8e9910cae3"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"1683fa[...]
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/1683fad2-c093-81e6-b32e-eff0f0333437/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"90-A3Qz2XW0AL5J+KBE3PWZLNJo1TM"
      x-notion-request-id:
      - 1d890462-b9d8-4c3c-a54a-d8f71958461f
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"1d890462-b9d8-4c3c-a54a-d8f71958461f"}'
  recorded_at: Mon, 30 Dec 2024 18:31:31 GMT
[...]
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/1683fad2-c093-816d-a0aa-f87615eb1ecf/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"90-7YQB4APkgsZnjAcd79wvcfQYLXc"
      x-notion-request-id:
      - 289c0bef-4af7-4043-aa75-54a3661a7561
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"289c0bef-4af7-4043-aa75-54a3661a7561"}'
  recorded_at: Mon, 30 Dec 2024 18:31:56 GMT
recorded_with: VCR 6.3.1
