---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/databases/16b3fad2c0938054ae4bea7c35b93783/query
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"578-usXLu2GuJ8mU7XpEouuRKBzgAj0"
      x-notion-request-id:
      - afe10ea4-2592-4e1a-b6f1-d735d9854456
    body:
      encoding: UTF-8
      string: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"16b3fad2-c093-8052-b281-c7daacec002f\",\"created_time\":\"2024-12-29T18:48:00.000Z\",\"last_edited_time\":\"2024-12-29T19:11:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"e32d7e93-d8af-4a76-8a0d-ef8e9910cae3\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"e32d7e93-d8af-4a76-8a0d-ef8e9910cae3\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F310\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"16b3fad2-c093-8054-ae4b-ea7c35b93783\"},\"archived\":false,\"in_trash\":false,\"properties\":{\"permalink\":{\"id\":\"ftb%7B\",\"type\":\"rich_text\",\"rich_text\":[]},\"layout\":{\"id\":\"jt%40%40\",\"type\":\"rich_text\",\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"default\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"default\",\"href\":null}]},\"Name\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"about_n\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"about_n\",\"href\":null}]}},\"url\":\"https://www.notion.so/about_n-16b3fad2c0938052b281c7daacec002f\",\"public_url\":\"https://anteromontonio.notion.site/about_n-16b3fad2c0938052b281c7daacec002f\"}],\"next_cursor\":null,\"has_more\":false,\"type\":\"page_or_database\",\"page_or_database\":{},\"request_id\":\"afe10ea4-2592-4e1a-b6f1-d735d9854456\"}"
  recorded_at: Mon, 30 Dec 2024 11:20:06 GMT
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/16b3fad2-c093-8052-b281-c7daacec002f/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1986-9zqjEybyydlbyIpD2cMhdrnu7mA"
      x-notion-request-id:
      - 7f99beef-7ef3-4123-be65-dfda8dca9bcb
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"block","id":"16b3fad2-c093-8020-8bee-ca947f7ed74a","parent":{"type":"page_id","page_id":"16b3fad2-c093-8052-b281-c7daacec002f"},"created_time":"2024-12-29T18:48:00.000Z","last_edited_time":"2024-12-29T18:49:00.000Z","created_by":{"object":"user","id":"e32d7e93-d8af-4a76-8a0d-ef8e9910cae3"},"last_edited_by":{"object":"user","id":"e32d7e93-d8af-4a76-8a0d-ef8e9910cae3"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"The
        quote above is by the Mexican mathematician Guillermo Moreno (who I have never
        met).","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"The
        quote above is by the Mexican mathematician Guillermo Moreno (who I have never
        met).","href":null}],"color":"default"}},{"object":"block","id":"16b3fad2-c093-805c-ac84-f5e59a048e30","p[...]
