---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/databases/16b3fad2c093808db0e6d00d60e424d7/query
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c2c-WDxdh0JAqt+XDFTwXsaZkHC0BT0"
      x-notion-request-id:
      - aa23b69a-b497-480e-86f5-ac94848da04c
    body:
      encoding: UTF-8
      string: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"16b3fad2-c093-8072-89f0-c9969f74ad12\",\"created_time\":\"2024-12-29T22:01:00.000Z\",\"last_edited_time\":\"2024-12-29T22:03:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"e32d7e93-d8af-4a76-8a0d-ef8e9910cae3\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"e32d7e93-d8af-4a76-8a0d-ef8e9910cae3\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"database_id\",\"database_id\":\"16b3fad2-c093-808d-b0e6-d00d60e424d7\"},\"archived\":false,\"in_trash\":false,\"properties\":{\"related_posts\":{\"id\":\"ja%7B_\",\"type\":\"rich_text\",\"rich_text\":[]},\"layout\":{\"id\":\"qFaE\",\"type\":\"rich_text\",\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"post\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"post\",\"href\":null}]},\"date\":{\"id\":\"uzqH\",\"type\":\"date\",\"date\":{\"start\":\"2024-12-29T21:52:00.000+01:00\",\"end\":null,\"time_zone\":null}},\"Name\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"\U0001F37E\U0001F37E Our
        paper “Chiral extensions of regular toroids” was published.\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"\U0001F37E\U0001F37E Our
        paper “Chiral extensions of regular toroids” was published.\",\"href\":null}]}},\"url\":\"https://www.notion.so/Our-paper-Chiral-extensions-of-regular-toroids-was-published-16b3fad2c093807289f0c9969f74ad12\",\"public_url\":\"https://anteromontonio.notion.site/Our-paper-Chiral-extensions-of-regular-toroids-was-published-16b3fad2c093807289f0c9969f74ad12\"},{\"object\":\"page\",\"id\":\"16b3fad2-c093-8028-9d03-fee9fe3e07a2\",\"created_time\":\"2024-12-29T19:33:00.000Z\",\"last_edited_time\":\"2024-12-29T21:53:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"e32d7e93-d8af-4a76-8a0d-ef8e9910cae3\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"e32d7e93-d8af-4a76-8a0d-ef8e9910cae3\"},\"cover\":null,\"icon\":nul[...]
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/16b3fad2-c093-8072-89f0-c9969f74ad12/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"50a-1ZxRANYhGeqQ7ZhC8dy5n52nymI"
      x-notion-request-id:
      - ad74d5fd-0154-4b51-954e-5add1e140a02
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"block","id":"16b3fad2-c093-80d6-ab0d-d5f4352bef59","parent":{"type":"page_id","page_id":"16b3fad2-c093-8072-89f0-c9969f74ad12"},"created_time":"2024-12-29T22:01:00.000Z","last_edited_time":"2024-12-29T22:03:00.000Z","created_by":{"object":"user","id":"e32d7e93-d8af-4a76-8a0d-ef8e9910cae3"},"last_edited_by":{"object":"user","id":"e32d7e93-d8af-4a76-8a0d-ef8e9910cae3"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"This
        paper is the result of many years of work alongside with Micael Toledo. In
        there, we prove that for every n, all but finitely many regular cubical tessellations  of
        the n-dimensional torus are facets of a chiral polytope.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
        paper is the result of many years of work alongside with Micael Toledo. In
        there, we prove that for every n, all but finitely many regular cubical tessellations  of
        the n-dimensional torus are facets of a chiral polytope.","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"ad74d5fd-0154-4b51-954e-5add1e140a02"}'
  recorded_at: Mon, 30 Dec 2024 11:20:08 GMT
[...]
