---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/databases/16c3fad2c0938069a5d0fefe5165debb/query
    body:
      encoding: UTF-8
      string: '{"filter":{"property":"status","select":{"equals":"published"}}}'
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"709-4m2Vd+zgCjWyUbJwUQ/iTb8oNLM"
      x-notion-request-id:
      - 3bf5b8b3-f6c1-4146-9a47-3e1c9c4f1d66
    body:
      encoding: UTF-8
      string: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"16c3fad2-c093-8096-87b2-c5573a0fc985\",\"created_time\":\"2024-12-30T13:35:00.000Z\",\"last_edited_time\":\"2024-12-30T13:57:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"e32d7e93-d8af-4a76-8a0d-ef8e9910cae3\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"e32d7e93-d8af-4a76-8a0d-ef8e9910cae3\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F4DD\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"16c3fad2-c093-8069-a5d0-fefe5165debb\"},\"archived\":false,\"in_trash\":false,\"properties\":{\"Date\":{\"id\":\"A%60%3Cc\",\"type\":\"date\",\"date\":{\"start\":\"2024-12-30\",\"end\":null,\"time_zone\":null}},\"status\":{\"id\":\"HmLe\",\"type\":\"select\",\"select\":{\"id\":\"62b12078-b5fe-48b4-a169-1d998c33d9eb\",\"name\":\"published\",\"color\":\"green\"}},\"Tags\":{\"id\":\"S%3Cyx\",\"type\":\"multi_select\",\"multi_select\":[{\"id\":\"bca0cebc-8929-4012-b361-ab29a998cba3\",\"name\":\"test
        posts\",\"color\":\"yellow\"}]},\"layout\":{\"id\":\"Ugq%7C\",\"type\":\"rich_text\",\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"post\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"post\",\"href\":null}]},\"Publish\":{\"id\":\"a%7C%3BS\",\"type\":\"button\",\"button\":{}},\"Name\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Welcome
        to my blog\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Welcome
        to my blog\",\"href\":null}]}},\"url\":\"https://www.notion.so/Welcome-to-my-blog-16c3fad2c093809687b2c5573a0fc985\",\"public_url\":\"https://anteromontonio.notion.site/Welcome-to-my-blog-16c3fad2c093809687b2c5573a0fc985\"}],\"next_cursor\":null,\"has_more\":false,\"type\":\"page_or_database\",\"page_or_database\":{},\"request_id\":\"3bf5b8b3-f6c1-4146-9a47-3e1c9c4f1d66\"}"
  recorded_at: Mon, 30 Dec 2024 13:58:34 GMT
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/16c3fad2-c093-8096-87b2-c5573a0fc985/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"755-HARIVRakxTzTZqDBz4MkKjaUvdg"
      x-notion-request-id:
      - 46da9f3a-f34c-41fd-9e4d-f65372ef4311
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"block","id":"16c3fad2-c093-8077-b4d5-d1e89139b49d","parent":{"type":"page_id","page_id":"16c3fad2-c093-8096-87b2-c5573a0fc985"},"created_time":"2024-12-30T13:35:00.000Z","last_edited_time":"2024-12-30T13:35:00.000Z","created_by":{"object":"user","id":"e32d7e93-d8af-4a76-8a0d-ef8e9910cae3"},"last_edited_by":{"object":"user","id":"e32d7e93-d8af-4a76-8a0d-ef8e9910cae3"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"This
        is my first post on my blog. ","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
        is my first post on my blog. ","href":null}],"color":"default"}},{"object":"block","id":"16c3fad2-c093-80d3-8ba6-e95ecef11c4e","parent":{"type":"page_id","page_id":"16c3fad2-c093-8096-87b2-c5573a0fc985"},"created_time":"2024-12-30T13:35:00.000Z","last_edited_time":"2024-12-30T13:37:00.000Z","created_by":{"object":"user","id":"e32d7e93-d8af-4a76-8a0d-ef8e9910cae3"},"last_edited_by":{"object":"user","id":"e32d7e93-d8af-4a76-8a0d-ef8e9910cae3"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"So
        far, I am just only using it to test if the set up works, but if it does,
        it should allow me to be able to share some thoughts in here.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"So
        far, I am just only using it to test if the set up works, but if it does,
        it should allow me to be able to share some thoughts in here.","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"46da9f3a-f34c-41fd-9e4d-f65372ef4311"}'
  recorded_at: Mon, 30 Dec 2024 13:58:35 GMT
- request:
    method: get
    uri: https://api.notion.com/v1/pages/16c3fad2-c093-8096-87b2-c5573a0fc985
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"697-7yw+YNqM7M9MStE+Nw9kzYylgvA"
      x-notion-request-id:
      - 4ac2ae17-ee16-[...]
[...]
