---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/databases/16c3fad2c09380c5bc23f5c66998ce5b/query
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"7eb-C+WTk2tHP6tGocolUIiauSSnRIY"
      x-notion-request-id:
      - 74394730-5772-45b6-92f7-09c9fa0d7694
    body:
      encoding: UTF-8
      string: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"16c3fad2-c093-806a-a0d0-d708d41a457d\",\"created_time\":\"2024-12-30T12:45:00.000Z\",\"last_edited_time\":\"2024-12-30T12:55:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"e32d7e93-d8af-4a76-8a0d-ef8e9910cae3\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"e32d7e93-d8af-4a76-8a0d-ef8e9910cae3\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F4DD\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"16c3fad2-c093-80c5-bc23-f5c66998ce5b\"},\"archived\":false,\"in_trash\":false,\"properties\":{\"Tags\":{\"id\":\"%3D%3DZR\",\"type\":\"multi_select\",\"multi_select\":[{\"id\":\"cc9131f2-32ea-467b-a8c2-0982b50c7394\",\"name\":\"blogging\",\"color\":\"orange\"}]},\"published\":{\"id\":\"NaZf\",\"type\":\"checkbox\",\"checkbox\":true},\"layout\":{\"id\":\"btOI\",\"type\":\"rich_text\",\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"post\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"post\",\"href\":null}]},\"categories\":{\"id\":\"ows%60\",\"type\":\"rich_text\",\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"sample-posts\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"sample-posts\",\"href\":null}]},\"Date\":{\"id\":\"zC%3ED\",\"type\":\"date\",\"date\":{\"start\":\"2024-12-30T13:45:00.000+01:00\",\"end\":null,\"time_zone\":null}},\"Title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"a
        post with formatting and links\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"a
        post with formatting and links\",\"href\":null}]}},\"url\":\"https://www.notion.so/a-post-with-formatting-and-links-16c3fad2c093806aa0d0d708d41a457d\",\"public_url\":\"https://anteromontonio.notion.site/a-post-with-formatting-and-links-16c3fad2c093806aa0d0d708d41a457d\"}],\"next_cursor\":null,\"has_more\":false,\"type\":\"page_or_database\",\"page_or_database\":{},\"request_id\":\"74394730-5772-45b6-92f7-09c9fa0d7694\"}"
  recorded_at: Mon, 30 Dec 2024 12:55:18 GMT
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/16c3fad2-c093-806a-a0d0-d708d41a457d/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"286-7gr7Oii+ydyfuz2YoyobAqJ/HF0"
      x-notion-request-id:
      - 8a867440-3bfe-432c-bd3a-9e44dceeff5d
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"block","id":"16c3fad2-c093-805d-a6b6-c320cb7d3bb4","parent":{"type":"page_id","page_id":"16c3fad2-c093-806a-a0d0-d708d41a457d"},"created_time":"2024-12-30T12:45:00.000Z","last_edited_time":"2024-12-30T12:45:00.000Z","created_by":{"object":"user","id":"e32d7e93-d8af-4a76-8a0d-ef8e9910cae3"},"last_edited_by":{"object":"user","id":"e32d7e93-d8af-4a76-8a0d-ef8e9910cae3"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"8a867440-3bfe-432c-bd3a-9e44dceeff5d"}'
  recorded_at: Mon, 30 Dec 2024 12:55:19 GMT
recorded_with: VCR 6.3.1
