/*******************************************************************************
 * Themes
 ******************************************************************************/

@use "sass:color";

:root {
  --global-bg-color: #{$nlb-main};
  --global-code-bg-color: #{$nlb-second};
  --global-text-color: #{$nlf-main};
  --global-text-color-light: #{$nlf-gray};
  --global-theme-color: #{$nlf-blue};
  --global-theme-color-bg: #{$nlb-blue};
  --global-hover-color: #{$nlf-orange};
  --global-hover-text-color: #{$nlf-blue};
  --global-footer-bg-color: #{$ndb-main};
  --global-footer-text-color: #{$ndf-main};
  --global-footer-link-color: #{$ndf-blue};
  --global-distill-app-color: #{$nlf-gray};
  --global-divider-color: #{$ndf-gray};
  --global-card-bg-color: #{$nlb-main};
  --global-highlight-color: #{$nlb-red};
  --global-back-to-top-bg-color: rgba(
    #{color.channel($black-color, "red", $space: rgb)},
    #{color.channel($black-color, "green", $space: rgb)},
    #{color.channel($black-color, "blue", $space: rgb)},
    0.4
  );
  --global-back-to-top-text-color: #{$ndf-main};
  --global-newsletter-bg-color: #{$nlb-second};
  --global-newsletter-text-color: #{$nlf-main};

  --global-tip-block: #{$nlf-green};
  --global-tip-block-bg: #{$nlb-green};
  --global-tip-block-text: #{$ndb-green};
  --global-tip-block-title: #{$nlf-green};
  --global-warning-block: #{$nlf-yellow};
  --global-warning-block-bg: #{nlb-yellow};
  --global-warning-block-text: #{$ndb-yellow};
  --global-warning-block-title: #{$nlf-yellow};
  --global-danger-block: #{$nlf-red};
  --global-danger-block-bg: #{$nlb-red};
  --global-danger-block-text: #{$ndb-red};
  --global-danger-block-title: #{$nlf-red};
  --green: #{$nlf-green};
  --grey: #{$nlf-gray};
  --gray: #{$nlf-gray};
  --brown: #{$nlf-brown};
  --orange: #{$nlf-orange};
  --yellow: #{$nlf-yellow};
  --blue: #{$nlf-blue};
  --purple: #{$nlf-purple};
  --pink: #{$nlf-pink};
  --red: #{$nlf-red};
  --green-bg: #{$nlb-green};
  --grey-bg: #{$nlb-gray};
  --gray-bg: #{$nlb-gray};
  --brown-bg: #{$nlb-brown};
  --orange-bg: #{$nlb-orange};
  --yellow-bg: #{$nlb-yellow};
  --blue-bg: #{$nlb-blue};
  --purple-bg: #{$nlb-purple};
  --pink-bg: #{$nlb-pink};
  --red-bg: #{$nlb-red};

  #light-toggle-system {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    display: none;
  }

  .only-light {
    display: block;
  }

  .only-dark {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
    bottom: $back-to-top-bottom;
    right: $back-to-top-right;
    height: $back-to-top-height;
    width: $back-to-top-width;
    z-index: $back-to-top-z-index;
  }
}

html[data-theme="dark"] {
  --global-bg-color: #{$ndb-main};
  --global-code-bg-color: #{$ndb-hover};
  --global-text-color: #{$ndf-main};
  --global-text-color-light: #{$ndf-gray};
  --global-theme-color: #{$ndf-blue};
  --global-theme-color-bg: #{$ndf-blue};
  --global-hover-color: #{$ndf-orange};
  --global-hover-text-color: #{$ndf-blue};
  --global-footer-bg-color: #{$ndb-main};
  --global-footer-text-color: #{$ndf-main};
  --global-footer-link-color: #{$ndf-blue};
  --global-distill-app-color: #{$ndf-gray};
  --global-divider-color: #{$nlf-gray};
  --global-card-bg-color: #{$ndb-second};
  --global-highlight-color: #{$ndb-red};
  --global-back-to-top-bg-color: rgba(
    #{color.channel($white-color, "red", $space: rgb)},
    #{color.channel($white-color, "green", $space: rgb)},
    #{color.channel($white-color, "blue", $space: rgb)},
    0.5
  );
  --global-back-to-top-text-color: #{$ndf-main};
  --global-newsletter-bg-color: #{$ndb-main};
  --global-newsletter-text-color: #{$ndf-main};

  --global-tip-block: #{$ndf-green};
  --global-tip-block-bg: #{$ndb-green};
  --global-tip-block-text: #{$nlb-green};
  --global-tip-block-title: #{$ndf-green};
  --global-warning-block: #{$ndf-yellow};
  --global-warning-block-bg: #{$ndb-yellow};
  --global-warning-block-text: #{$nlb-yellow};
  --global-warning-block-title: #{$ndf-yellow};
  --global-danger-block: #{$ndf-red};
  --global-danger-block-bg: #{$ndb-red};
  --global-danger-block-text: #{$nlb-red};
  --global-danger-block-title: #{$ndf-red};
  --green: #{$ndf-green};
  --grey: #{$ndf-gray};
  --gray: #{$ndf-gray};
  --brown: #{$ndf-brown};
  --orange: #{$ndf-orange};
  --yellow: #{$ndf-yellow};
  --blue: #{$ndf-blue};
  --purple: #{$ndf-purple};
  --pink: #{$ndf-pink};
  --red: #{$ndf-red};
  --green-bg: #{$ndb-green};
  --grey-bg: #{$ndb-gray};
  --gray-bg: #{$ndb-gray};
  --brown-bg: #{$ndb-brown};
  --orange-bg: #{$ndb-orange};
  --yellow-bg: #{$ndb-yellow};
  --blue-bg: #{$ndb-blue};
  --purple-bg: #{$ndb-purple};
  --pink-bg: #{$ndb-pink};
  --red-bg: #{$ndb-red};


  .only-light {
    display: none;
  }

  .only-dark {
    display: block;
  }
}

html[data-theme-setting="dark"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-light {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
  }
}

html[data-theme-setting="light"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }
}
