/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

@use "sass:color";

// Colors
$red-color: #ff3636 !default;
$red-color-dark: #b71c1c !default;
$orange-color: #f29105 !default;
$blue-color: #0076df !default;
$blue-color-dark: #00369f !default;
$cyan-color: #2698ba !default;
$light-cyan-color: color.adjust($cyan-color, $lightness: 25%);
$green-color: #00ab37 !default;
$green-color-lime: #b7d12a !default;
$green-color-dark: #009f06 !default;
$green-color-light: #ddffdd !default;
$green-color-bright: #11d68b !default;
$purple-color: #b509ac !default;
$light-purple-color: color.adjust($purple-color, $lightness: 25%);
$pink-color: #f92080 !default;
$pink-color-light: #ffdddd !default;
$yellow-color: #efcc00 !default;

$grey-color: #828282 !default;
$grey-color-light: color.adjust($grey-color, $lightness: 40%);
$grey-color-dark: #1c1c1d;
$grey-900: #212529;

$white-color: #ffffff !default;
$black-color: #000000 !default;

// Theme colors

$code-bg-color-light: rgba($purple-color, 0.05);
$code-bg-color-dark: #2c3237 !default;

// Font awesome location
$fa-font-path: "../webfonts";

// Tabler icons location
$ti-font-path: "../fonts";

// Back To Top button config
$back-to-top-z-index: 10;
$back-to-top-bottom: 30px;
$back-to-top-right: 30px;
$back-to-top-diameter: 40px;
$back-to-top-height: $back-to-top-diameter;
$back-to-top-width: $back-to-top-diameter;


//notion colors
$ndf-gray: #979A9B !default;
$ndf-brown: #937264 !default;
$ndf-orange: #FFA344 !default;
$ndf-yellow: #FFDC49 !default;
$ndf-green: #4DAB9A !default;
$ndf-blue: #529CCA !default;
$ndf-purple: #9A6DD7 !default;
$ndf-pink: #E255A1 !default;
$ndf-red: #FF7369 !default;

$ndb-gray: #454B4E !default;
$ndb-brown: #594A3A !default;
$ndb-orange: #594A3A !default;
$ndb-yellow: #59563B !default;
$ndb-green: #354C4B !default;
$ndb-blue: #364954 !default;
$ndb-purple: #443F57 !default;
$ndb-pink: #533B4C !default;
$ndb-red: #594141 !default;

$ndb-main: #2F3438;
$ndb-second: #373C3F;
$ndb-hover: #3F4448;

$ndf-main: #d5d5d5;

// light colours 
$nlf-gray: #787774 !default;
$nlf-brown: #9F6B53 !default;
$nlf-orange: #D9730D !default;
$nlf-yellow: #CB912F !default;
$nlf-green: #448361 !default;
$nlf-blue: #337EA9 !default;
$nlf-purple: #9065B0 !default;
$nlf-pink: #C14C8A !default;
$nlf-red: #D44C47 !default;

$nlb-gray: #F1F1EF !default;
$nlb-brown: #F4EEEE !default;
$nlb-orange: #FAEBDD !default;
$nlb-yellow: #FBF3DB !default;
$nlb-green: #EDF3EC !default;
$nlb-blue: #E7F3F8 !default;
$nlb-purple: #F6F3F9 !default;
$nlb-pink: #FAF1F5 !default;
$nlb-red: #FDEBEC !default;

$nlb-main: #FFFFFF;
$nlb-second: #F7F6F3;
$nlb-hover: #FFFFFF;

$nlf-main: #37352F;

