/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

@use "sass:color";

// Colors
$red-color: #ff3636 !default;
$red-color-dark: #b71c1c !default;
$orange-color: #f29105 !default;
$blue-color: #0076df !default;
$blue-color-dark: #00369f !default;
$cyan-color: #2698ba !default;
$light-cyan-color: color.adjust($cyan-color, $lightness: 25%);
$green-color: #00ab37 !default;
$green-color-lime: #b7d12a !default;
$green-color-dark: #009f06 !default;
$green-color-light: #ddffdd !default;
$green-color-bright: #11d68b !default;
$purple-color: #b509ac !default;
$light-purple-color: color.adjust($purple-color, $lightness: 25%);
$pink-color: #f92080 !default;
$pink-color-light: #ffdddd !default;
$yellow-color: #efcc00 !default;

$grey-color: #828282 !default;
$grey-color-light: color.adjust($grey-color, $lightness: 40%);
$grey-color-dark: #1c1c1d;
$grey-900: #212529;

$white-color: #ffffff !default;
$black-color: #000000 !default;

// Theme colors

$code-bg-color-light: rgba($purple-color, 0.05);
$code-bg-color-dark: #2f3438 !default;

// Font awesome location
$fa-font-path: "../webfonts";

// Tabler icons location
$ti-font-path: "../fonts";

// Back To Top button config
$back-to-top-z-index: 10;
$back-to-top-bottom: 30px;
$back-to-top-right: 30px;
$back-to-top-diameter: 40px;
$back-to-top-height: $back-to-top-diameter;
$back-to-top-width: $back-to-top-diameter;

//notion colors
$ndf-gray: #979a9b !default;
$ndf-brown: #937264 !default;
$ndf-orange: #ffa344 !default;
$ndf-yellow: #ffdc49 !default;
$ndf-green: #4dab9a !default;
$ndf-blue: #529cca !default;
$ndf-purple: #9a6dd7 !default;
$ndf-pink: #e255a1 !default;
$ndf-red: #ff7369 !default;

$ndb-gray: #454b4e !default;
$ndb-brown: #594a3a !default;
$ndb-orange: #594a3a !default;
$ndb-yellow: #59563b !default;
$ndb-green: #354c4b !default;
$ndb-blue: #364954 !default;
$ndb-purple: #443f57 !default;
$ndb-pink: #533b4c !default;
$ndb-red: #594141 !default;

$ndb-main: #191919;
$ndb-second: #232323;
$ndb-hover: #3f4448;

$ndf-main: #d5d5d5;

// light colours
$nlf-gray: #787774 !default;
$nlf-brown: #9f6b53 !default;
$nlf-orange: #d9730d !default;
$nlf-yellow: #cb912f !default;
$nlf-green: #448361 !default;
$nlf-blue: #337ea9 !default;
$nlf-purple: #9065b0 !default;
$nlf-pink: #c14c8a !default;
$nlf-red: #d44c47 !default;

$nlb-gray: #f1f1ef !default;
$nlb-brown: #f4eeee !default;
$nlb-orange: #faebdd !default;
$nlb-yellow: #fbf3db !default;
$nlb-green: #edf3ec !default;
$nlb-blue: #e7f3f8 !default;
$nlb-purple: #f6f3f9 !default;
$nlb-pink: #faf1f5 !default;
$nlb-red: #fdebec !default;

$nlb-main: #ffffff;
$nlb-second: #f7f6f3;
$nlb-hover: #ffffff;

$nlf-main: #37352f;
